html, body {
  height: 100%;
}

body {
  background-color: #fff3e0;
}

.page-flexbox-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

.paintings {
  height: auto;
  max-width: 100%;
  padding-bottom: 84%;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  cursor: pointer;
}

.nav-items {
  width: 33.3%;
  text-align: center;
  display: inline-block;
  font-size: calc(10px + 14 * (100vw - 320px)/ 800);
  font-family: 'Raleway', sans-serif;
}

#header-title {
  font-family: 'Cinzel', serif;
  font-size: 72px;
}

#header-subtext {
  font-family: 'Raleway', sans-serif;
}